:root {
  --color-white: #fff;
  --color-light-purple: #d6d6f9;
  --color-watermelon: #FF5F6D;
  --color-yellow: #FFC371;
  --color-twitter: #1da1f2;

  --main-font-family: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  height: 100vh;
  background: linear-gradient(var(--color-white), var(--color-light-purple));
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  background-color: var(--color-white);
  border-radius: .5px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, .4);
}

.quotes {
  padding: 2rem 5rem;
  backface-visibility: hidden;
}

.quote-text {
  padding-bottom: .8rem;
  font-size: 2.5rem;
}

.quote-author {
  font-size: 1.3rem;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.button {
  display: block;
  color: var(--color-white);
  border-radius: .4rem;
  border: none;
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
  transition: all .2s;
}

.button:active {
  -webkit-transform: translateY(-.5rem);
  transform: translateY(-.5rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.button:hover {
  transform: translateY(-.5rem);
}

.tweet,
.new-quote {
  box-shadow: 0 .4rem 1rem rgba(0, 0, 0, .2);
}

.tweet {
  background-color: var(--color-twitter);
  font-size: 1.4rem;
  text-decoration: none;
}

.new-quote {
  background: linear-gradient(to right bottom, var(--color-watermelon), var(--color-yellow));
  font-weight: bold;
  text-transform: uppercase;
}


@media screen and (max-width: 37.5em) {
  .app {
    width: 100%;
  }

  .quote-text {
    font-size: 1.8rem;
  }
}
