:root {
  --color-white: #fff;
  --color-grey-dark-1: #1c1c1c;
  --color-grey-dark-2: #3a3a3a;
  --color-grey-dark-3: #515151;
  --color-light-grey: #f3f3f3;
  --color-watermelon: #ff5f6d;
  --color-yellow: #ffc371;
  --color-light-navy: #3a6186;
  --color-cherry: #89253e;
  --color-twitter: #1da1f2;

  --main-font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  height: 100vh;
  transition: all .5s;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  border-radius: 0.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
}

.quotes {
  width: 100%;
  padding: 2rem 5rem;
  backface-visibility: hidden;
  transition: all .5s;
}

.quote-text {
  padding-bottom: 0.8rem;
  font-size: 2.5rem;
}

.quote-author {
  font-size: 1.3rem;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.button {
  display: block;
  color: var(--color-white);
  border-radius: 0.4rem;
  border: none;
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  transform: translateY(-0.5rem);
}

.tweet,
.new-quote {
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

.tweet {
  background-color: var(--color-twitter);
  font-size: 1.4rem;
  text-decoration: none;
}

.new-quote {
  background: linear-gradient(to right bottom,
      var(--color-watermelon),
      var(--color-yellow));
  font-weight: bold;
  text-transform: uppercase;
}

/* LOADER */
.loader {
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}

.spinner {
  width: 11rem;
  height: 11rem;
  margin: 0 auto;
  border: 1.6rem solid var(--color-light-grey);
  border-top: 1.6rem solid var(--color-twitter);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

/* DARK MODE */
.dark-theme {
  background-color: var(--color-grey-dark-1);
}

.dark-theme .app {
  background-color: var(--color-grey-dark-2);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
}

.dark-theme .quotes {
  color: var(--color-white);
}

.dark-theme .new-quote {
  background: linear-gradient(to right bottom, var(--color-light-navy), var(--color-cherry));
}

.dark-theme .loader {
  background-color: var(--color-grey-dark-2);
}

.dark-theme .spinner {
  border: 1.6rem solid var(--color-grey-dark-3);
  border-top: 1.6rem solid var(--color-twitter);
}

.toggle-container {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  background: var(--color-grey-dark-1);
  position: relative;
  width: 5.2rem;
  height: 2.7rem;
  text-indent: -9999px;
  float: right;
  border-radius: 10rem;
  cursor: pointer;
}

label:after {
  content: '';
  position: absolute;
  top: .3rem;
  left: .3rem;
  width: 2rem;
  height: 2rem;
  background: var(--color-white);
  border-radius: 9rem;
  transition: 0.3s;
}

input:checked+label {
  background: var(--color-twitter);
}

input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 4.5rem;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

/* ANIMATIONS AND MEDIAQUERIES */
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 34.6875em) {
  .app {
    width: 100%;
  }

  .quote-text {
    font-size: 2rem;
  }

  .quote-author {
    font-size: 1rem;
  }
}

@media screen and (max-width: 31.25em) {
  .app {
    width: 80%;
  }

  .quotes {
    padding: 2rem;
  }

  .controls {
    padding: 0 1.2rem .8rem;
  }
}
