:root {
  --color-white: #fff;
  --color-light-grey: #f3f3f3;
  --color-light-purple: #d6d6f9;
  --color-watermelon: #ff5f6d;
  --color-yellow: #ffc371;
  --color-twitter: #1da1f2;

  --main-font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
  height: 100vh;
  background: linear-gradient(var(--color-white), var(--color-light-purple));
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  background-color: var(--color-white);
  border-radius: 0.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.4);
}

.quotes {
  width: 100%;
  padding: 2rem 5rem;
  backface-visibility: hidden;
}

.quote-text {
  padding-bottom: 0.8rem;
  font-size: 2.5rem;
}

.quote-author {
  font-size: 1.3rem;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.button {
  display: block;
  color: var(--color-white);
  border-radius: 0.4rem;
  border: none;
  padding: 1rem 2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  transform: translateY(-0.5rem);
}

.tweet,
.new-quote {
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2);
}

.tweet {
  background-color: var(--color-twitter);
  font-size: 1.4rem;
  text-decoration: none;
}

.new-quote {
  background: linear-gradient(
    to right bottom,
    var(--color-watermelon),
    var(--color-yellow)
  );
  font-weight: bold;
  text-transform: uppercase;
}

.loader {
  background-color: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.hidden {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
}

.spinner {
  width: 11rem;
  height: 11rem;
  margin: 0 auto;
  border: 1.6rem solid var(--color-light-grey);
  border-top: 1.6rem solid var(--color-twitter);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 37.5em) {
  .app {
    width: 100%;
  }

  .quote-text {
    font-size: 1.8rem;
  }
}
